In [1]:
import pandas as pd
from pennylane import numpy as np
from Factory.data import PrepareData
from Factory.model import QBC
from sklearn import metrics

C:\Users\jonas\Anaconda3\envs\my-rdkit-env\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

# Prepare Data

In [2]:
df = pd.read_csv('fraud_detection_bank_dataset.csv', sep=',')
df = df.astype(float)
df = df.drop(['Unnamed: 0'], axis = 1)

In [3]:
data = PrepareData(data = df,target = "targets", sample_size = 2000, test_split = 0.3, seed = 10)

In [4]:
data.view_info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 17991 to 19934
Columns: 113 entries, col_0 to targets
dtypes: float64(113)
memory usage: 1.7 MB
None
No preprocessing done yet.

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
count,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.0,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.126500,287.945500,0.325500,2.10300,0.067000,0.930500,2.516500,3.126500,0.0,0.0,...,0.004000,0.370000,0.001000,0.314500,0.190000,0.0,0.050500,0.018500,43.798000,0.248500
std,11.301963,605.090262,2.742318,7.29685,0.410604,3.780584,3.052767,11.301963,0.0,0.0,...,0.063135,0.482925,0.031615,0.464433,0.392399,0.0,0.219029,0.241219,56.534726,0.432251
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-1.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.000000,37.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,5.000000,0.000000
50%,0.000000,101.000000,0.000000,1.00000,0.000000,0.000000,2.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,20.000000,0.000000
75%,2.000000,280.250000,0.000000,2.00000,0.000000,1.000000,6.000000,2.000000,0.0,0.0,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,62.000000,0.000000
max,230.000000,9319.000000,107.000000,183.00000,9.000000,107.000000,8.000000,230.000000,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,6.000000,543.000000,1.000000

# Use LDA

Preprocess LDA

In [5]:
data.perform_LDA()

Performing LDA...

C:\Users\jonas\Anaconda3\envs\my-rdkit-env\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\jonas\Anaconda3\envs\my-rdkit-env\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\jonas\Anaconda3\envs\my-rdkit-env\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\jonas\Anaconda3\envs\my-rdkit-env\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [6]:
data.view_info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 17991 to 19934
Columns: 113 entries, col_0 to targets
dtypes: float64(113)
memory usage: 1.7 MB
None
Preprocessing done via:  LDA

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
count,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.0,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.126500,287.945500,0.325500,2.10300,0.067000,0.930500,2.516500,3.126500,0.0,0.0,...,0.004000,0.370000,0.001000,0.314500,0.190000,0.0,0.050500,0.018500,43.798000,0.248500
std,11.301963,605.090262,2.742318,7.29685,0.410604,3.780584,3.052767,11.301963,0.0,0.0,...,0.063135,0.482925,0.031615,0.464433,0.392399,0.0,0.219029,0.241219,56.534726,0.432251
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-1.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.000000,37.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,5.000000,0.000000
50%,0.000000,101.000000,0.000000,1.00000,0.000000,0.000000,2.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,20.000000,0.000000
75%,2.000000,280.250000,0.000000,2.00000,0.000000,1.000000,6.000000,2.000000,0.0,0.0,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,62.000000,0.000000
max,230.000000,9319.000000,107.000000,183.00000,9.000000,107.000000,8.000000,230.000000,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,6.000000,543.000000,1.000000

Define and train model

In [7]:
model_LDA = QBC(data, n_dim = 2, n_layers = 5, backend = "lightning.qubit")

In [8]:
model_LDA.train()

New best
Iter:     1 | Cost: 0.7146527 | Accuracy: 0.7557143
New best
Iter:     2 | Cost: 0.5467249 | Accuracy: 0.8171429
New best
Iter:     3 | Cost: 0.4751983 | Accuracy: 0.8307143
New best
Iter:     4 | Cost: 0.4734549 | Accuracy: 0.8385714
New best
Iter:     5 | Cost: 0.4472145 | Accuracy: 0.8471429
New best
Iter:     6 | Cost: 0.4475311 | Accuracy: 0.8478571
Iter:     7 | Cost: 0.6056652 | Accuracy: 0.8064286
Iter:     8 | Cost: 0.5346172 | Accuracy: 0.8457143
New best
Iter:     9 | Cost: 0.4346356 | Accuracy: 0.8571429
Iter:    10 | Cost: 0.4457327 | Accuracy: 0.8528571
Iter:    11 | Cost: 0.5464202 | Accuracy: 0.8464286
Iter:    12 | Cost: 0.5721968 | Accuracy: 0.8464286
Iter:    13 | Cost: 0.5576279 | Accuracy: 0.8442857
Iter:    14 | Cost: 0.5400980 | Accuracy: 0.8435714
Iter:    15 | Cost: 0.5297521 | Accuracy: 0.8457143
Iter:    16 | Cost: 0.5273266 | Accuracy: 0.8471429
Iter:    17 | Cost: 0.4711755 | Accuracy: 0.8442857
Iter:    18 | Cost: 0.4586101 | Accuracy: 0.8492857
Iter:    19 | Cost: 0.4710555 | Accuracy: 0.8471429
Iter:    20 | Cost: 0.4496019 | Accuracy: 0.8564286
New best
Iter:    21 | Cost: 0.4334069 | Accuracy: 0.8628571
New best
Iter:    22 | Cost: 0.4350645 | Accuracy: 0.8635714
New best
Iter:    23 | Cost: 0.4307490 | Accuracy: 0.8678571
New best
Iter:    24 | Cost: 0.4142857 | Accuracy: 0.8728571
New best
Iter:    25 | Cost: 0.4104879 | Accuracy: 0.8757143
Iter:    26 | Cost: 0.4025811 | Accuracy: 0.8750000
New best
Iter:    27 | Cost: 0.3971891 | Accuracy: 0.8778571
Iter:    28 | Cost: 0.3814916 | Accuracy: 0.8757143
Iter:    29 | Cost: 0.3685935 | Accuracy: 0.8757143
Iter:    30 | Cost: 0.3622557 | Accuracy: 0.8757143
Iter:    31 | Cost: 0.3592110 | Accuracy: 0.8742857
Iter:    32 | Cost: 0.3595640 | Accuracy: 0.8778571
New best
Iter:    33 | Cost: 0.3677971 | Accuracy: 0.8785714
Iter:    34 | Cost: 0.4011392 | Accuracy: 0.8771429
Iter:    35 | Cost: 0.4123842 | Accuracy: 0.8742857
New best
Iter:    36 | Cost: 0.4398058 | Accuracy: 0.8807143
Iter:    37 | Cost: 0.4797217 | Accuracy: 0.8700000
Iter:    38 | Cost: 0.5145149 | Accuracy: 0.8550000
Iter:    39 | Cost: 0.5033828 | Accuracy: 0.8600000
Iter:    40 | Cost: 0.4766182 | Accuracy: 0.8792857
New best
Iter:    41 | Cost: 0.4339206 | Accuracy: 0.8814286
Iter:    42 | Cost: 0.4180167 | Accuracy: 0.8757143
Iter:    43 | Cost: 0.3960513 | Accuracy: 0.8721429
Iter:    44 | Cost: 0.3896418 | Accuracy: 0.8714286
Iter:    45 | Cost: 0.3829375 | Accuracy: 0.8714286
Iter:    46 | Cost: 0.3750100 | Accuracy: 0.8728571
Iter:    47 | Cost: 0.3678940 | Accuracy: 0.8742857
Iter:    48 | Cost: 0.3640737 | Accuracy: 0.8764286
Iter:    49 | Cost: 0.3642824 | Accuracy: 0.8785714
Iter:    50 | Cost: 0.3671699 | Accuracy: 0.8814286

Get the test set from the data to predict:

In [10]:
_, _, X_test, Y_test = data.get_preprocessed()

In [12]:
predictions_LDA = model_LDA.predict(X_test)

In [13]:
print(metrics.classification_report(predictions_LDA,Y_test))
print(metrics.precision_score(predictions_LDA,Y_test))
print(metrics.recall_score(predictions_LDA,Y_test))
print(metrics.f1_score(predictions_LDA,Y_test))
print(metrics.balanced_accuracy_score(predictions_LDA,Y_test))
print(metrics.confusion_matrix(predictions_LDA,Y_test))

              precision    recall  f1-score   support

        -1.0       0.97      0.89      0.93       497
         1.0       0.63      0.87      0.73       103

    accuracy                           0.89       600
   macro avg       0.80      0.88      0.83       600
weighted avg       0.91      0.89      0.90       600

0.6293706293706294
0.8737864077669902
0.7317073170731707
0.8835732843663925
[[444  53]
 [ 13  90]]

# Use PCA

Preprocess PCA

In [14]:
data.perform_PCA()

Performing PCA...

In [15]:
data.view_info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 17991 to 19934
Columns: 113 entries, col_0 to targets
dtypes: float64(113)
memory usage: 1.7 MB
None
Preprocessing done via:  PCA

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
count,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.0,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.126500,287.945500,0.325500,2.10300,0.067000,0.930500,2.516500,3.126500,0.0,0.0,...,0.004000,0.370000,0.001000,0.314500,0.190000,0.0,0.050500,0.018500,43.798000,0.248500
std,11.301963,605.090262,2.742318,7.29685,0.410604,3.780584,3.052767,11.301963,0.0,0.0,...,0.063135,0.482925,0.031615,0.464433,0.392399,0.0,0.219029,0.241219,56.534726,0.432251
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-1.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.000000,37.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,5.000000,0.000000
50%,0.000000,101.000000,0.000000,1.00000,0.000000,0.000000,2.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,20.000000,0.000000
75%,2.000000,280.250000,0.000000,2.00000,0.000000,1.000000,6.000000,2.000000,0.0,0.0,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,62.000000,0.000000
max,230.000000,9319.000000,107.000000,183.00000,9.000000,107.000000,8.000000,230.000000,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,6.000000,543.000000,1.000000

Define and train model

In [16]:
model_PCA = QBC(data, n_dim = 2, n_layers = 5, backend = "lightning.qubit")

In [17]:
model_PCA.train()

New best
Iter:     1 | Cost: 0.9922963 | Accuracy: 0.6050000
New best
Iter:     2 | Cost: 0.9133256 | Accuracy: 0.7357143
New best
Iter:     3 | Cost: 0.8372795 | Accuracy: 0.7428571
New best
Iter:     4 | Cost: 0.8082843 | Accuracy: 0.7464286
Iter:     5 | Cost: 0.8039261 | Accuracy: 0.7464286
Iter:     6 | Cost: 0.8042474 | Accuracy: 0.7464286
New best
Iter:     7 | Cost: 0.8297579 | Accuracy: 0.7471429
Iter:     8 | Cost: 0.8814247 | Accuracy: 0.7471429
Iter:     9 | Cost: 0.9090855 | Accuracy: 0.7471429
Iter:    10 | Cost: 0.9006644 | Accuracy: 0.7471429
Iter:    11 | Cost: 0.8605321 | Accuracy: 0.7471429
Iter:    12 | Cost: 0.8280091 | Accuracy: 0.7471429
Iter:    13 | Cost: 0.7825952 | Accuracy: 0.7471429
Iter:    14 | Cost: 0.7447115 | Accuracy: 0.7471429
Iter:    15 | Cost: 0.7485581 | Accuracy: 0.7471429
Iter:    16 | Cost: 0.8402239 | Accuracy: 0.7278571
Iter:    17 | Cost: 0.8835448 | Accuracy: 0.6978571
Iter:    18 | Cost: 0.9145426 | Accuracy: 0.3971429
Iter:    19 | Cost: 0.8670825 | Accuracy: 0.7150000
Iter:    20 | Cost: 0.7791539 | Accuracy: 0.7428571
Iter:    21 | Cost: 0.7432145 | Accuracy: 0.7471429
Iter:    22 | Cost: 0.7460729 | Accuracy: 0.7471429
Iter:    23 | Cost: 0.7734032 | Accuracy: 0.7471429
Iter:    24 | Cost: 0.7911368 | Accuracy: 0.7471429
Iter:    25 | Cost: 0.8098764 | Accuracy: 0.7471429
Iter:    26 | Cost: 0.8396121 | Accuracy: 0.7471429
Iter:    27 | Cost: 0.8571642 | Accuracy: 0.7471429
Iter:    28 | Cost: 0.8267991 | Accuracy: 0.7471429
Iter:    29 | Cost: 0.7796929 | Accuracy: 0.7464286
Iter:    30 | Cost: 0.7718953 | Accuracy: 0.7464286
Iter:    31 | Cost: 0.7747632 | Accuracy: 0.7464286
Iter:    32 | Cost: 0.7990050 | Accuracy: 0.7464286
Iter:    33 | Cost: 0.8508553 | Accuracy: 0.7357143
Iter:    34 | Cost: 0.8222431 | Accuracy: 0.7435714
Iter:    35 | Cost: 0.7661793 | Accuracy: 0.7471429
Iter:    36 | Cost: 0.7379706 | Accuracy: 0.7471429
Iter:    37 | Cost: 0.7647438 | Accuracy: 0.7471429
Iter:    38 | Cost: 0.8199030 | Accuracy: 0.7471429
Iter:    39 | Cost: 0.8230046 | Accuracy: 0.7471429
Iter:    40 | Cost: 0.8318804 | Accuracy: 0.7471429
Iter:    41 | Cost: 0.8325269 | Accuracy: 0.7471429
Iter:    42 | Cost: 0.8229071 | Accuracy: 0.7471429
Iter:    43 | Cost: 0.7878330 | Accuracy: 0.7471429
Iter:    44 | Cost: 0.7527745 | Accuracy: 0.7471429
Iter:    45 | Cost: 0.7394627 | Accuracy: 0.7471429
Iter:    46 | Cost: 0.7763476 | Accuracy: 0.7471429
Iter:    47 | Cost: 0.8037952 | Accuracy: 0.7464286
Iter:    48 | Cost: 0.7987263 | Accuracy: 0.7464286
Iter:    49 | Cost: 0.7850808 | Accuracy: 0.7464286
Iter:    50 | Cost: 0.7664157 | Accuracy: 0.7471429

Get the test set from the data to predict:

In [18]:
predictions_PCA = model_PCA.predict(X_test)

In [19]:
print(metrics.classification_report(predictions_PCA,Y_test))
print(metrics.precision_score(predictions_PCA,Y_test))
print(metrics.recall_score(predictions_PCA,Y_test))
print(metrics.f1_score(predictions_PCA,Y_test))
print(metrics.balanced_accuracy_score(predictions_PCA,Y_test))
print(metrics.confusion_matrix(predictions_PCA,Y_test))

              precision    recall  f1-score   support

        -1.0       0.91      0.84      0.88       497
         1.0       0.45      0.62      0.52       103

    accuracy                           0.80       600
   macro avg       0.68      0.73      0.70       600
weighted avg       0.83      0.80      0.82       600

0.44755244755244755
0.6213592233009708
0.5203252032520325
0.7312027504834834
[[418  79]
 [ 39  64]]